@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply font-[Poppins];
    }
    li{
        @apply px-4; 
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right, /* put opacity and change colors*/
        #000,
        #ecfc58
    )!important;
}